.buttonprimary {
  background-color: var(--primary-500);
  height: 58px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.2px;
  justify-content: center;

}

.buttonprimary:hover {
  background-color: var(--primary-400);
}

.buttonprimarysmall {
  background-color: var(--primary-500);
  height: 43px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--white);
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.2px;
}

.buttonprimarysmall:hover {
  background-color: var(--primary-400);
}



.buttonsecondarysmall {
  background-color: transparent;
  height: 43px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: var(--white);
  border: 0.1px solid #ffffff7d;
  filter: drop-shadow(0px 15px 40px rgba(35, 34, 99, 0.15));
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttonarrow {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.005em;
  color: var(--primary-500);
  cursor: pointer;
}

@media (max-width: 960px) {
  .buttonarrow {
    font-size: 16px;
  }
}