.container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	white-space: nowrap;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: var(--buttons-border-radius);
	border: 1px solid var(--primary-500);
	box-shadow: 20px 25px 60px rgba(0, 152, 58, 0.15);
	/* width: 100%; */
	padding: 10px;
	height: 58px;
	cursor: pointer;
	user-select: none;
}

.green_button {
	/* background-color: var(--primary-500);
	color: var(--white); */
	background-color: var(--primary-500);
	color: white;
	font-size: 16px;
	padding: 18px 30px;
	letter-spacing: 0.2px;
	border-radius: 100px;
	font-weight: 600;
	box-shadow: 4px 8px 24px rgba(0, 152, 58, 0.25);
}

.white_button {
	background-color: transparent;
	color: var(--grey-800);
	border: 0.5px solid var(--grey-800);
	transition: color .2s, background .2s, border .2s;
}

.disabled {
	background-color: rgb(157, 160, 162);
	cursor: no-drop;
	border: none;
}

.rounded {
	border-radius: 99px;
}


@media (min-width: 1024px) {

	.container {
		height: 62px;
	}

	.white_button:hover {
		transition: 0.2s ease-in;
		background-color: var(--primary-500);
		color: var(--white);

	}

	.green_button:hover {
		transition: 0.2s ease-in;
		background-color: var(--primary-400);
	}

	.disabled:hover {
		color: var(--white);
		background-color: rgb(157, 160, 162);
	}

}