.cardsmall {
  aspect-ratio: 0.7259325441143623;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: drop-shadow(0px 15px 40px rgba(35, 34, 99, 0.15));
  position: relative;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  padding-left: 25px;
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: grid;
  gap: 7px;
  transition: opacity 0.5s linear;
}



.specialty {
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.category {
  color: var(--primary-500);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 140%;
}

.viewCenter {
  background-color: var(--primary-500);
  color: white;
  font-size: 16px;
  padding: 15px 16px;
  width: 164px;
  border-radius: 100px;
  display: none;

}

.aboutCard:hover .content {
  animation: fade 0.6s linear;
}

.aboutCard:hover .viewCenter {
  display: block;
}

@media (max-width: 1024px) {
  .content {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .specialty {
    font-size: 14px;
  }

  .category {
    font-size: 12px;
  }
}

.cardproduct {
  aspect-ratio: 0.8709677419354839;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: drop-shadow(0px 15px 40px rgba(35, 34, 99, 0.15));
  position: relative;
}

.cardproduct .content {
  padding-left: 32.5px;
  padding-bottom: 32.5px;
  position: absolute;
  bottom: 0;
  display: grid;
  gap: 7px;
}

.cardproduct .specialty {
  color: var(--white);
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.cardproduct .category {
  color: var(--primary-500);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 140%;
}

.ctn_price {
  display: flex;
  align-items: end;
  gap: 10px;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.cardproduct .price {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 28px;
  color: var(--white);
}

.aboutCard {
  aspect-ratio: 0.8709677419354839;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: drop-shadow(0px 15px 40px rgba(35, 34, 99, 0.15));
  position: relative;
  transition: all 1s ease-in-out;
}

.aboutCard:hover::before {
  content: "";
  background: linear-gradient(180deg, rgba(35, 34, 99, 0) 0%, rgba(35, 34, 99, 0.15) 7.81%, rgba(35, 34, 99, 0.3) 17.19%, rgba(35, 34, 99, 0.4) 27.08%, rgba(35, 34, 99, 0.5) 41.67%, rgba(35, 34, 99, 0.6) 52.6%, rgba(35, 34, 99, 0.7) 66.15%, rgba(35, 34, 99, 0.8) 80.21%, rgba(35, 34, 99, 0.85) 88.02%, rgba(35, 34, 99, 0.95) 100%);;
  position: absolute;
  border-radius: 55px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.aboutCard .content {
  padding-left: 32.5px;
  padding-right: 70px;
  padding-bottom: 32.5px;
  position: absolute;
  bottom: 0;
  display: grid;
  gap: 7px;
}

.aboutCard .specialty {
  color: var(--white);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.aboutCard .category {
  color: var(--white);
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.005em;
}