.Appsection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  gap: 15px;
  font-family: var(--noto-sans);
  align-items: center;
}

.appImage {
  background: url("/images/application/phone.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-left: 100px;
  background-size: cover;
  aspect-ratio: 0.84399375975039;
}

.scanQR {
  width: 136px;
  position: absolute;
  right: 60px;
  top: 15px;
}

.scanQR p {
  font-size: 14px;
  color: #05030f;
  font-weight: var(--bold);
}

.qr {
  height: 133px;
}

.appDescription {
  font-size: var(--h4-size);
  display: grid;
  gap: 20px;
  width: 85%;
}

.appDescription h2 {
  color: var(--secondary-500);
  font-weight: 500;
}

.appDescription b {
  color: var(--primary-500);
  font-weight: 600;
}

.featureApp {
  display: flex;
  justify-content: space-between;
}

.featureApp span {
  width: 90%;
  display: grid;
  gap: 10px;
}

.featureApp span p:first-child {
  color: var(--grey-900);
  font-weight: var(--bold);
  font-size: var(--body-xlarge-size);
}

.textFeature {
  color: var(--grey-900);
  font-weight: var(--regular);
  font-size: var(--body-large-size);
}

.openApp {
  display: none;
}

@media (max-width: 1200px) {
  .appImage {
    margin-left: 0;
  }
}

@media (max-width: 1050px) {
  .Appsection {
    display: flex;
    flex-direction: column-reverse;
  }

  .appImage {
    width: 100%;
    height: 55rem;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .appImage {
    width: 100%;
    height: 25rem;
  }

  .scanQR {
    display: none;
  }

  .appDescription {
    width: 100%;
  }

  .appDescription h2 {
    font-size: 20px;
    text-align: center;
  }

  .featureApp span {
    width: 85%;
  }

  .featureApp span p:first-child {
    font-size: 17px;
  }

  .textFeature {
    font-size: 16px;
  }

  .openApp {
    display: block;
    padding: 18px 16px;
    border-radius: 100px;
    background-color: #00983A;
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: var(--bold);
    letter-spacing: 0.2px;
  }
}