.fullpage {
  display: grid;
  gap: 100px;
  overflow: hidden;
}

.section_hero {
  overflow: hidden;
}

.section_products {
  display: grid;
  gap: 50px;
}

.section_about {
  display: grid;
  gap: 50px;
}

@media (max-width: 960px) {
  .section_hero {
    overflow: hidden;
  }

  .fullpage {
    gap: 24px;
  }

  .section_products {
    overflow: hidden;
    display: block;
  }


  .section_about {
    display: block;
    overflow: hidden;
  }

}