.headersecction {
  display: flex;
  justify-content: space-between;
}

.group {
  width: 421px;
  display: grid;
  gap: 10px;
}

.headersecction h2 {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 0.005em;
  color: var(--secondary-500);
  line-height: 45px;
  margin-left: -2px;
  width: 705px;
}

.headersecction p {
  font-weight: 400;
  font-size: 20px;
  color: #1F1F1F;
}

@media (max-width: 1245px) {
  .headersecction h2 {
    width: 50%;
  }

}


@media (max-width: 960px) {
  .headersecction {
    display: block;
    padding-bottom: 24px;
  }

  .headersecction h2 {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    padding-bottom: 12px;
  }

  .headersecction p {
    display: none;
  }

  .group {
    width: 100%;
    display: flex;
    justify-content: center;
  }


}