.hire_message {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hire_message img {
    display: block;
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 5%;
    left: 11%;
    width: 79%;
    text-align: center;
}

.logo_container {
    display: flex;
    justify-content: center;
}


.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    color: #232263;
    text-transform: uppercase;
}

.title2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #232263;
    text-transform: uppercase;
}

.bold_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #00983A;
    text-transform: uppercase;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* .button_container button {
    height: 42px;
} */

@media (min-width: 500px) {

    .title {
        font-size: 4.2vw;
    }

    .bold_title {
        font-size: 4vw;
    }
}

@media (min-width: 600px) {

    .title {
        font-size: 3.5vw;
    }

    .bold_title {
        font-size: 3.5vw;
    }
}

@media (min-width: 700px) {

    .title {
        font-size: 3vw;
    }

    .bold_title {
        font-size: 3vw;
    }
}

@media (min-width: 800px) {

    .title {
        font-size: 2.7vw;
    }

    .bold_title {
        font-size: 2.7vw;
    }
}

@media (min-width: 900px) {

    .title {
        font-size: 2.5vw;
    }

    .bold_title {
        font-size: 2.4vw;
    }
}

@media (min-width: 1000px) {

    .title {
        font-size: 2.3vw;
    }

    .bold_title {
        font-size: 2.3vw;
    }
}


@media (min-width: 1024px) {



    /* .hire_message img {
        border-radius: 36px;
    } */

    .content {
        top: 0;
        left: 0;
        margin-top: 10%;
        margin-left: 4%;
        max-width: 590px;
        text-align: left;
    }

    .title {
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.03em;
        margin-bottom: 6px;
    }

    .title2 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.03em;
        margin-bottom: 25px;
    }

    .bold_title {
        font-size: 30px;
        line-height: 30px;
        /* transform: scaleX(1.2) scaleY(1.5);
        margin: 50px; */
    }

    .button_container {
        display: block;
        width: 200px;
    }

    .button_container button {
        height: 62px;
    }

    .logo_container {
        justify-content: flex-start;
    }

}